__pycache__/
*.py[cod]
*$py.class
.DS_Store
.ipynb_checkpoints/

*.swp

local
var
tmp
var
node_modules

# avoid committing Derby's API key
images/*/https_www.derby.gov.uk_environment-and-planning_planning_brownfield-register_.png.html
